ProjectoPracticoISI/force-app/main/default/flows/test0_02.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>adsfasdf</name>
        <label>adsf</label>
        <locationX>806</locationX>
        <locationY>85</locationY>
        <actionName>ConvertCSVToRecords</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>U__convertedCSVRows</typeName>
            <typeValue>dummy__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contentDocumentIdList</name>
            <value>
                <elementReference>fileUpload1.contentDocIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>dumi</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FSep</name>
            <value>
                <stringValue>,</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DSep</name>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TSep</name>
            <value>
                <stringValue>.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vCur</name>
            <value>
                <stringValue>$</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <interviewLabel>test0.02 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test0.02</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Upload_File</name>
        <label>Upload File</label>
        <locationX>573</locationX>
        <locationY>85</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>adsfasdf</targetReference>
        </connector>
        <fields>
            <name>fileUpload1</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload CSV File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>fileUpload1.contentVersionIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>42</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>Upload_File</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
